<% include ./partials/header%>
    <div class="ui main text container segment">
        <div class="ui huge header">Edit <%= blog.title%></div>
        <form action="/blogs/<%=blog._id%>?_method=PUT" class="ui form" method="POST">
            <div class="field">
                <label>Title</label>
                <input  type="text" name="blog[title]" required  value="<%=blog.title%>">
            </div>
            <div class="field">
                <label>Image</label>
                <input  type="text" name="blog[image]" required value="<%=blog.image%>">
            </div>
            <div><img src="<%=blog.image%>" class="ui centered medium rounded image"></div>
            <div class="field">
                <label>Blog Content</label>
               <textarea name="blog[body]" required ><%=blog.body %></textarea>  
            </div>
            <button type="submit" class="ui secondary button">Update</button>
        </form>
    </div>

<% include ./partials/footer%>