<% include ./partials/header %>
<div class="ui main text container">
    <div class="ui huge header"><h1>Demo Blog</h1></div>
        <div class="ui top attacted segment">
         <div class="ui divided items">
             <% blogs.forEach(function (blog) { %>
                <div class="item"> 
                    <div class="image">
                        <img src=" <%= blog.image %>" >
                    </div>
                        <div class="content">
                            <a class="header" href="./blogs/<%=blog._id%>"><%= blog.title %> </a>
                             <div class="meta">
                                <span><%= blog.created.toDateString() %></span>
                            </div>
                                <div class="ui description">
                                    <p> <%- blog.body.substring(0, 50) %>...</p>
                                </div>
                            <div class="extra">
                                  <a class="ui floated basic blue button" href="./blogs/<%=blog._id%>">Read more <i class="right chevron icon"></i> </a>
                                  
                            </div>
                        </div>
                           
                
                </div>

            <% }); %>
         </div>
    </div>
</div>



<% include ./partials/footer %>