<% include ./partials/header%>
    <div class="ui main text container segment">
        <div class="ui huge header">New Blog</div>
        <form action="/blogs" class="ui form" method="POST">
            <div class="field">
                <label>Title</label>
                <input  type="text" name="blog[title]" placeholder="Title" required >
            </div>
            <div class="field">
                <label>Image</label>
                <input  type="text" name="blog[image]" placeholder="image" required >
            </div>
            <div class="field">
                <label>Blog Content</label>
               <textarea name="blog[body]" placeholder="post goes here" required ></textarea>  
            </div>
            <button type="submit" class="ui secondary button">Submit</button>
        </form>
    </div>

<% include ./partials/footer%>