<% include ./partials/header %>
 <div class="ui main text container segment">
     <div class="ui huge centered header" ><%= blog.title %></div>
     <div class="ui top attacted ">
        <div class="item"> 
             <img class="ui centered rounded image" src="<%= blog.image%>">
                <div class=" content">
                    <span><%= blog.created.toDateString()%></span>
                </div>
                    <div class=" description">
                        <p><%= blog.body %></p>
                    </div>
                        <a class="ui button primary" href="/blogs/<%=blog._id%>/edit">Edit</a>
                        <form class="btnEdit"action="/blogs/<%= blog._id%>?_method=DELETE" method="POST"> 
                            <button class="ui red basic button">Delete</button>
                       </form>
                       
                   
                       
        </div>
     </div>
  
     
     
 </div>
<% include ./partials/footer %>