i.icon{
    font-size: 2em;
}

.container.main {
    margin-top: 7.0em;
}

footer {
    background-color: red;
    width: 100%;
    margin:0 auto;
    text-align: center;
}
.secondary.button {
    padding:10px 10% ;
    margin:0 auto;
}
.btnEdit{
    display: inline;
}