<!doctype html>
<html>
    <head>
        
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <nav class="ui fixed inverted menu">
            <div class="ui container">
                <div class=" header item"><i class="code icon"></i>Blogging</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
           
        </nav>
       
        